snippet chrg "Charge on atom" i
\charge{90=\|}{O}
endsnippet


snippet "(\d+)ctab" "N-column chemfig table" r
\begin{tabular}{`!p snip.rv = 'c' * int(match.group(1))`}
	`!p
cols = int(match.group(1))
output = []
for i in range(cols):
	if i < cols - 1:
		output.append(f"\t\\chemfig{{{chr(65+i)}}} & ")
	else:
		output.append(f"\t\\chemfig{{{chr(65+i)}}} \\\\")
snip.rv = '\n'.join(output)
` 
	
\end{tabular}
endsnippet


snippet "row" "Add new row to chemfig table" rb
`!p
import re
# Get all buffer content up to current line
lines = '\n'.join(vim.current.buffer[:vim.current.window.cursor[0]])

# Find the most recent \begin{tabular}{...} declaration
match = re.search(r'\\begin\{tabular\}\{([^}]+)\}', lines)
if match:
	# Count the number of 'c' characters (columns)
	col_spec = match.group(1)
	num_cols = col_spec.count('c')
	
	output = []
	for i in range(num_cols):
		if i < num_cols - 1:
			output.append(f"\t\\chemfig{{{chr(65+i)}}} & ")
		else:
			output.append(f"\t\\chemfig{{{chr(65+i)}}} \\\\")
	snip.rv = '\n'.join(output) + '\n\t\\hline'
else:
	snip.rv = "\t% No tabular found"
`
	$0
endsnippet

snippet wedge "chemfig solid wedge bond"
>[${1:2}]${0}
endsnippet


snippet lws "Lewis dot atom" i
\lewis{${1}:${2}:${3},${4}}$0
endsnippet

snippet lws "Lewis dot atom" b
\lewis{${1}:${2}:${3},${4}}$0
endsnippet



snippet dashwedge "chemfig dashed wedge bond"
<[$1]${0}
endsnippet


# Chem1 snippets
snippet ph "pH" w
\pH
endsnippet

snippet poh "pOH" w
\pOH
endsnippet

snippet ka "Ka constant" w
\Ka
endsnippet

snippet pka "pKa value" w
\pKa[${1:1}]
endsnippet

snippet kb "Kb constant" w
\Kb
endsnippet

snippet pkb "pKb value" w
\pKb[${1:1}]
endsnippet

snippet kw "Kw constant" w
\Kw
endsnippet

# Formal charges (circled by default)
snippet f+ "Formal positive charge" i
\fplus
endsnippet

snippet f- "Formal negative charge" i
\fminus
endsnippet

# Partial charges (deltas)
snippet del+ "Partial positive charge" i
\delp
endsnippet

snippet del- "Partial negative charge" i
\delm
endsnippet

# Ion charges (superscript representation)
snippet pch "Positive ion charge" i
\pch[${1:1}]
endsnippet

snippet mch "Negative ion charge" i
\mch[${1:1}]
endsnippet

snippet chcpd "Chemical compound label" w
\chcpd{${1:compound_name}}
endsnippet

# State of aggregation shortcuts (Phases Module)
snippet saq "Aqueous state" i
\aq
endsnippet

snippet sgas "Gas state" i
\gas
endsnippet

snippet ssld "Solid state" i
\sld
endsnippet

snippet slqd "Liquid state" i
\lqd
endsnippet

snippet iupac "IUPAC Naming wrapper" w
\iupac{${1:name}}
endsnippet

# Descriptors (Use inside or outside \iupac)
snippet orth "ortho- prefix" w
\ortho
endsnippet

snippet meta "meta- prefix" w
\meta
endsnippet

snippet para "para- prefix" w
\para
endsnippet

snippet tert "tert- prefix" w
\tert
endsnippet

snippet cis "cis stereochemistry" w
\cis
endsnippet

snippet trans "trans stereochemistry" w
\trans
endsnippet

snippet nmr "NMR element specification" w
\NMR{${1:1},${2:H}}
endsnippet

snippet state "Thermodynamic state" w
\state{${1:H}}
endsnippet

snippet enthalpy "Standard Enthalpy" w
\enthalpy{${1:r}}
endsnippet

snippet entropy "Standard Entropy" w
\entropy{${1:r}}
endsnippet

snippet gibbs "Gibbs Free Energy" w
\gibbs{${1:r}}
endsnippet
# Add course-specific snippets here
